
@inject IProductService ProductService
@implements IDisposable;

<div class="row">
    @if (ProductService.Products !=null )
    {
        @foreach (var pr in ProductService.Products)
        {
            <div class="product-wrapper">
                <a href="/product/@pr.Id">
                    <img class="media-img" alt="@pr.Title" src="@pr.Url"/>
                    <div class="product-info"> @pr.Title @pr.Price</div>
                </a>
            </div>           
        }
    }
    else
    {
        <Loader></Loader>
    }
</div>


@code {

    protected override void OnInitialized()
    {
        ProductService.ProductChanged += StateHasChanged;

    }

    public void Dispose()
    {
        ProductService.ProductChanged -= StateHasChanged;
    }

   
}
